@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

html {
  background-color: #f9f9f9;
}
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: 'Cousine', monospace;
  line-height: 1.5;
  padding: 3em 1em;
  color: #566b78;
}

h3 {
  color: #555;
  margin-bottom: 0em;
  font-size: 1.7em;
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #e81c4f;
}

hr {
  margin-top: 2em;
  margin-bottom: 1em;
}

ul {
  list-style-type: circle;
}

.title {
  margin: .7em 0em 0em .7em;
}

.desc {
  margin: 0em;
}

.mainImage {
  height: 8em;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.center {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto
}

.videos {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  
}

.videoDiv {
  margin: 0em 0 1.5em 0;
}

video {
  width: 20em;
  height: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bigVideo {
  display: block;
  width: max(65%,28em);
  margin: auto;
}
